<div class="splash_container">
<div class="logo">
<%= image_tag image_path('image.png') %>
<h1>Budget App</h1>
</div>

<div>
<%= link_to  'Sign_in' , new_user_session_path%>
<%= link_to 'Sign_up' , new_user_registration_path%>
</div>

</div>